


@media (min-width:700px) {
   .icon-desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .wrapper-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

  
} 

